@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

$colorS: silver;
$oscurototal: black;
$halfvw: 50vw;
$quartervw: 25vw;
$fuentePrincipal: 'Rubik Distressed', sans-serif;
$fuenteSecundaria: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fontWeight1: 100;
$colores:('rojo': red,'blanco':white,'plata':rgba(192, 192, 192, 1),'negro':black);


html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/backmotos.jpg);
    background-repeat: initial;
    background-attachment: fixed;
    overflow-x: hidden;
}

@mixin titulos($tamano,$fondo,$color,$margen){
    font-size: $tamano;
    width: 90vw;
    background: $fondo;
    text-align: center;
    color: $color;
    font-family: $fuentePrincipal;
    font-weight: $fontWeight1;
    margin:$margen;
}

h1{
    @include titulos(7.5vw,linear-gradient($oscurototal, rgba(0, 0, 0, 0.5)),red,5vw);
    }

h2{
    @include titulos(7.5vw,linear-gradient(rgba(255, 0, 0, 1), rgba(0, 0, 0, 0.5)),black,5vw);
}

h3{
    @include titulos(5vw,linear-gradient($oscurototal, rgba(255, 0, 0, 0.8)),rgba(192, 192, 192, 0.8),5vw);
}



h4{
    color: rgba(234, 190, 63, 0.5);
    font-size: 5vw;
    font-family: $fuentePrincipal;
    font-weight: $fontWeight1;
    text-align: center;
    width: 90vw;
}

h5{
    @extend h4;
    color: rgba(234, 190, 63, 0.9);
    padding: 2vw;
}

p{
    font-size: 3vw;
    width: 90vw;
    background: linear-gradient($oscurototal, rgba(128, 0, 0, 0.8));
    text-align: center;
    color: rgba(192, 192, 192, 1);
    font-family: $fuenteSecundaria;
    font-weight: $fontWeight1;
    margin:5vw;
    
}

.backSection{
    background-color: map-get($map: $colores, $key: 'negro');
}

.flechas{
    width: 5vw;
    height: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.indicador{
    background-color: rgba(0, 0, 0, 0.5);
}

.contenedor{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav" 
	"header" 
    "main"
   	"aside" 
	"footer"
}

#principalNav{
	grid-area: nav;
}

#header{
	grid-area: header;
}

#main{
	grid-area: main;
}

#section1{
    grid-area: section1;
}

#section2{
    grid-area: section2;
}

#imagen1{
    grid-area: imagen1;
}

#imagen2{
    grid-area: imagen2;
}

#imagen3{
    grid-area: imagen3;
}

#aside{
	grid-area: aside;
}

#footer{
	grid-area: footer;
}

.margen{
    margin: 5vw;
}

.letras{
    font-size: 2.5vw;
    text-align: center;
}

.pie{ 
	text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(192, 192, 192, 0.5)); 
    width: 100vw;
    float:left;   
}

.pie_icon--sm{
    width: 10vw;
    margin: 2vw;
}

.formulario{
    width: 80vw;
    margin: 10vw;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(192, 192, 192, 0.8));
    text-align: center;
    font-size: 2.5vw;
    color: aliceblue;
    font-family: $fuenteSecundaria;
    list-style: none;
    text-decoration: none;
    padding: 2vw;
} 

@media (min-width: 768px){

    h1{
        font-size: 6vw;
        width: 60vw;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    }

    h3{
        font-size: 5vw;
        width: 90vw;
        margin:5vw;
    }

    .contenedor{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav" 
        "header" 
        "main"
        "aside" 
        "footer"
    }

    .contenedor2{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "section1 section1" 
        "imagen1 imagen2"
        "section2 imagen3"
    }

    .pSecond{
        width: 45vw;
        margin: 5vw;
        font-size: 2.5vw;
    }

}

@media (min-width: 1024px){

    h1{
        font-size: 6.5vw;
        width: 70vw;
        margin:1vw;
        background: transparent;
    }

    h2{
        font-size: 4.5vw;
        width: 50vw;
        margin:5vw;
        border: black groove 0.2vw;
    }

    h3{
        font-size: 4.5vw;
        width: 50vw;
        margin:5vw;
        border: black groove 0.2vw;
    }

    h4{
        color: rgba(234, 190, 63, 0.5);
        font-size: 5vw;    
        width: 30vw;
        
    }

    p{
        font-size: 2vw;
        width: 25vw;
        margin:5vw;
        margin-top: 7vw;
        border: black groove 0.2vw;
    }

    
    .contenedor{
        display: grid;
        grid-template-columns: 60vw 40vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav nav" 
        "header header" 
        "main aside"
        "footer footer"
    }

    .contenedor2{
        display: grid;
        grid-template-columns: 35vw 35vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "section1 imagen1" 
        "section1 imagen2"
        "section2 imagen3"
    }

    .contenedor3{
        display: grid;
        grid-template-columns: 35vw 35vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "section1 imagen1" 
        "section2 section2"
    }

    .pSecond{
        font-size: 2vw;
        width: 30vw;
        margin:5vw;
        border: black groove 0.2vw;
    }

    .pThird{
        font-size: 2vw;
        width: 50vw;
        margin:5vw;
        border: black groove 0.2vw;
    }

    .pie_icon--sm{
        width: 7vw;
        margin: 2vw;
    }

    .formulario{
        margin: 5vw;
        width: 50vw;
        margin-top: 0vw;
        font-size: 2.5vw;
        list-style: none;
        padding: 2vw;
    }

    @keyframes entradaGladiadores{
        from {
          margin-left: 100vw;
        }
      
        to {
          margin-left: 25vw;
        }
    }
}

